@{
    ViewData["Title"] = "Home Page";
}

<section class="intro-section">
    <h2 class="section-title">Merhaba,ben Furkan TOPAL!</h2>
    <p>
        IT departmanında 1 yıl staj yaptım Yönetim Bilişim Sistemi üzerine lisans programıma devam ediyorum Asp.Net Core 
        üzerinde kişisel çalışmalarıma devam ediyorum ve kariyerime bu alanda devam etmek istiyorum.
    </p>
    <a href="/Home/Iletisim" style="font-size:large" class="btn btn-lg btn-info btn-hire-me">BANA ULAŞ</a>
</section>
<section class="resume-section">
    <div class="row">
        <div class="col-lg-6">
            <h6 class="section-subtitle">ÖZGEÇMİŞ</h6>
            <h2 class="section-title">EĞİTİMLER</h2>
            <ul class="time-line">
                <li class="time-line-item">
                    <span style="font-size:small" class="badge badge-primary">2012 - 2016</span>
                    <h6 class="time-line-item-title">Altay Mesleki Ve Teknik Anadolu Lisesi</h6>
                    <p class="time-line-item-subtitle">Lise</p>
                    <p class="time-line-item-content">
                        Web Tasarım
                    </p>
                </li>
                <li class="time-line-item">
                    <span style="font-size:small" class="badge badge-primary">2018 - 2020</span>
                    <h6 class="time-line-item-title">Dokuz Eylül Üniversitesi</h6>
                    <p class="time-line-item-subtitle">Üniversite,Önlisans</p>
                    <p class="time-line-item-content">
                        Bilgisayar Programcılığı
                    </p>
                </li>
                <li class="time-line-item">
                    <span style="font-size:small" class="badge badge-primary">2020 - 2022(Muhtemel)</span>
                    <h6 class="time-line-item-title">Anadolu Üniversitesi</h6>
                    <p class="time-line-item-subtitle">Üniversite,Lisans</p>
                    <p class="time-line-item-content">
                        Yönetim Bilişim Sistemleri
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-lg-6">
            <h6 class="section-subtitle">ÖZGEÇMİŞ</h6>
            <h2 class="section-title">DENEYİMLER</h2>
            <ul class="time-line">
                <li class="time-line-item">
                    <span style="font-size:small" class="badge badge-primary">2015 - 2016</span>
                    <h6 class="time-line-item-title">IT Stajyer</h6>
                    <p class="time-line-item-subtitle">Çimentaş İzmir Çimento Fabrikası T.A.Ş.</p>
                    @*<p class="time-line-item-content">
                        Mauris magna sapien, pharetra consectetur fringilla
                        vitae, interdum sed
                        tortor.
                    </p>*@
                </li>
                <li class="time-line-item">
                    <span style="font-size:small" class="badge badge-primary">2016 - 2016</span>
                    <h6 class="time-line-item-title">Garson</h6>
                    <p class="time-line-item-subtitle">Sadıkoğlu Topkapı Garden</p>
                </li>
                <li class="time-line-item">
                    <span style="font-size:small" class="badge badge-primary">2016 - 2017</span>
                    <h6 class="time-line-item-title">Montajcı</h6>
                    <p class="time-line-item-subtitle">Reel Makina</p>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="services-section">
    <h2 class="section-title">NELER YAPARIM</h2>
    <div class="row">
        <div class="media service-card col-lg-6">
            <div class="service-icon">
                <img src="~/img/001-target.svg" alt="target">
            </div>
            <div class="media-body">
                <h5 class="service-title">Web Tasarım</h5>
                <p class="service-description">
                    Asp.Net Core ile sade web tasarım projelerini yapabilirim
                </p>
            </div>
        </div>
        <div class="media service-card col-lg-6">
            <div class="service-icon">
                <img src="~/img/003-idea.svg" alt="bulb">
            </div>
            <div class="media-body">
                <h5 class="service-title">Yönetim Paneli</h5>
                <p class="service-description">
                    Asp.Net Core ile yönetim panelli web tasarım projelerini yapabilirim
                </p>
            </div>
        </div>
        <div class="media service-card col-lg-6">
            <div class="service-icon">
                <img src="~/img/002-development.svg" alt="development">
            </div>
            <div class="media-body">
                <h5 class="service-title">Başvuru</h5>
                <p class="service-description">
                    Düzenli , düzensiz her türlü iş teklifiniz için iletişime geçebilirsiniz.
                </p>
            </div>
        </div>
        <div class="media service-card col-lg-6">
            <div class="service-icon">
                <img src="~/img/004-smartphone.svg" alt="smartphone">
            </div>
            <div class="media-body">
                <h5 class="service-title">Her cihaza uygun</h5>
                <p class="service-description">
                    Projelerim her türlü cihaza uygun responsive içeriktedir.
                </p>
            </div>
        </div>
    </div>
</section>
