<nav class="collapsible-nav" id="collapsible-nav">

        <a href="/Admin/Proje" class="nav-link">Proje</a>
        <a href="/Admin/Sertifika" class="nav-link">Sertifika</a>
        <a href="/Admin/Iletisim" class="nav-link">İletişim</a>
        <a href="/Admin/LogOut" class="nav-link">Çıkış</a>
</nav>
<button class="btn btn-menu-toggle btn-white rounded-circle" data-toggle="collapsible-nav"
        data-target="collapsible-nav">
    <img src="~/img/hamburger.svg" alt="hamburger">
</button>

