<aside>
    <div class="profile-img-wrapper">
        <img src="~/img/profil/Profile.png" alt="profile">
    </div>
    <h1 class="profile-name">Furkan TOPAL</h1>
    <div class="text-center">
        <span class="badge badge-white badge-pill profile-designation">Software Developer</span>
    </div>
    <nav class="social-links">
        <a href="https://www.facebook.com/furkantopal35" class="social-link"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/furkant35" class="social-link"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/furkantopal35" class="social-link"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/furkan-topal-8ab064186/" class="social-link"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/furkant35/" class="social-link"><i class="fab fa-github"></i></a>
    </nav>
    <div class="widget">
        <h5 class="widget-title">BİLGİLER</h5>
        <div class="widget-content">
            <p>DOĞUM : 21 Kasım 1997</p>
            @*<p>WEBSITE : www.example.com</p>*@
            <p>TELEFON :  0(534) 505 3345</p>
            <p>E-POSTA : furkant_35@hotmail.com</p>
            <p>LOKASYON : İzmir, Türkiye</p>
            <a href="~/cv/ft.pdf" class="btn btn-download-cv btn-primary rounded-pill" download>
                    <img src="~/img/download.svg" alt="download"
                         class="btn-img">CV İNDİR
            </a>
        </div>
    </div>
    <div class="widget card">
        <div class="card-body">
            <div class="widget-content">
                <h5 class="widget-title card-title">DİLLER</h5>
                <p>Türkçe : Ana Dil</p>
                <p>İngilizce : Orta</p>
            </div>
        </div>
    </div>
    <div class="widget card">
        <div class="card-body">
            <div class="widget-content">
                <h5 class="widget-title card-title">HOBİLER</h5>
                <p>Futbol</p>
                <p>Konsol Oyunları</p>
                <p>Kitap Okuma</p>
                <p>Sinema</p>
            </div>
        </div>
    </div>
</aside>
